@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  margin: 0;
  background-color: #fbf3fa;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.recepi_container {
  background-color: #ffff;
  width: 350px;
  margin: 0;
  box-shadow: 0 0 10px 2px #3333331a;
}
img {
  max-width: 100%;
}
header {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 1rem;
}
header input {
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  border: none;
  background-color: #eeeeee;
  margin-top: 10px;
  color: black;
}

.fav-container {
  background-color: rgb(243, 225, 255);
  padding: 0.25rem 1rem;
  text-align: center;
  /* padding: 1rem;
  flex-wrap: wrap;
  background-color: rgb(233, 199, 255); */
}

.fav-container ul li {
  list-style-type: none;
}
.fav-meal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.fav-meal li span {
  display: inline-block;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: -10px;
  width: 75px;
}
.fav-meal li {
  cursor: pointer;
  position: relative;
  margin: 5px;
  width: 75px;
}
.fav-meal ul {
  display: flex;
  margin: 1px;
  padding: 5px;
}
.fav-meal li img {
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px 2px #3333331a;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.meal-container {
  margin: 1.5rem;
  box-shadow: 0 0 10px 2px #3333331a;
  /* overflow: auto; */
}
.header img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.icon-css {
  color: red;
  font-size: 25px;
  cursor: pointer;
}
.icon-css.active {
  color: green;
}
.header .random {
  position: absolute;
  top: 390px;
  background-color: white;
  padding: 0.25rem 0.5rem;
  border-top-right-radius: 3px;
  opacity: 0.5;
  border-top-left-radius: 3px;
}
.header .random:hover {
  cursor: pointer;
  background-color: green;
  color: red;
  opacity: 0.9;
}
